// Передавать в атрибут class
.color--negative {
  color: $negative !important;
}

.color--font-main {
  color: $color-font-main;
}

.color--black {
  color: $primary;
}

.color--grey {
  color: #8C8F96;
}
