.text-trunc{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block {
  display: block;
}

.break-word, .break-word * {
  word-break: break-word;
  white-space: pre-wrap;
}
