// ------------------------------- RF Dewi Expanded ------------------------------- //
@font-face {
  font-family: 'RF Dewi Expanded';
  src:
    url('src/assets/fonts/Rf Dewi Expanded/Extra Bold/RF Dewi Expanded_ExtraBold.eot') format('eot'),
    url('src/assets/fonts/Rf Dewi Expanded/Extra Bold/RF Dewi Expanded_ExtraBold.ttf') format('ttf'),
    url('src/assets/fonts/Rf Dewi Expanded/Extra Bold/RF Dewi Expanded_ExtraBold.woff') format('woff'),
    url('src/assets/fonts/Rf Dewi Expanded/Extra Bold/RF Dewi Expanded_ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src:
    url('src/assets/fonts/Rf Dewi Expanded/Bold/RF Dewi Expanded_Bold.eot') format('eot'),
    url('src/assets/fonts/Rf Dewi Expanded/Bold/RF Dewi Expanded_Bold.ttf') format('ttf'),
    url('src/assets/fonts/Rf Dewi Expanded/Bold/RF Dewi Expanded_Bold.woff') format('woff'),
    url('src/assets/fonts/Rf Dewi Expanded/Bold/RF Dewi Expanded_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src:
    url('src/assets/fonts/Rf Dewi Expanded/Regular/RF Dewi Expanded_Regular.eot') format('eot'),
    url('src/assets/fonts/Rf Dewi Expanded/Regular/RF Dewi Expanded_Regular.ttf') format('ttf'),
    url('src/assets/fonts/Rf Dewi Expanded/Regular/RF Dewi Expanded_Regular.woff') format('woff'),
    url('src/assets/fonts/Rf Dewi Expanded/Regular/RF Dewi Expanded_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// ------------------------------- RF Dewi Expanded ------------------------------- //

@font-face {
  font-family: 'RF Dewi Extended';
  src:
    url('src/assets/fonts/Rf Dewi Extended/Extra Bold/RF Dewi Extended_ExtraBold.eot') format('eot'),
    url('src/assets/fonts/Rf Dewi Extended/Extra Bold/RF Dewi Extended_ExtraBold.ttf') format('ttf'),
    url('src/assets/fonts/Rf Dewi Extended/Extra Bold/RF Dewi Extended_ExtraBold.woff') format('woff'),
    url('src/assets/fonts/Rf Dewi Extended/Extra Bold/RF Dewi Extended_ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi Extended';
  src:
    url('src/assets/fonts/Rf Dewi Extended/Bold/RF Dewi Extended_Bold.eot') format('eot'),
    url('src/assets/fonts/Rf Dewi Extended/Bold/RF Dewi Extended_Bold.ttf') format('ttf'),
    url('src/assets/fonts/Rf Dewi Extended/Bold/RF Dewi Extended_Bold.woff') format('woff'),
    url('src/assets/fonts/Rf Dewi Extended/Bold/RF Dewi Extended_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi Extended';
  src:
    url('src/assets/fonts/Rf Dewi Extended/Regular/RF Dewi Extended_Regular.eot') format('eot'),
    url('src/assets/fonts/Rf Dewi Extended/Regular/RF Dewi Extended_Regular.ttf') format('ttf'),
    url('src/assets/fonts/Rf Dewi Extended/Regular/RF Dewi Extended_Regular.woff') format('woff'),
    url('src/assets/fonts/Rf Dewi Extended/Regular/RF Dewi Extended_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
