// ------------------------------- RF Dewi Expanded ------------------------------- //
@font-face {
  font-family: 'RF Dewi Expanded';
  src:
    url('src/assets/fonts/Rf-Dewi-Expanded/Extra-Bold/RFDewiExpanded-ExtraBold.eot') format('eot'),
    url('src/assets/fonts/Rf-Dewi-Expanded/Extra-Bold/RFDewiExpanded-ExtraBold.ttf') format('ttf'),
    url('src/assets/fonts/Rf-Dewi-Expanded/Extra-Bold/RFDewiExpanded-ExtraBold.woff') format('woff'),
    url('src/assets/fonts/Rf-Dewi-Expanded/Extra-Bold/RFDewiExpanded-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src:
    url('src/assets/fonts/RF-Dewi-Expanded/Bold/RFDewiExpanded-Bold.eot') format('eot'),
    url('src/assets/fonts/RF-Dewi-Expanded/Bold/RFDewiExpanded-Bold.ttf') format('ttf'),
    url('src/assets/fonts/RF-Dewi-Expanded/Bold/RFDewiExpanded-Bold.woff') format('woff'),
    url('src/assets/fonts/RF-Dewi-Expanded/Bold/RFDewiExpanded-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src:
    url('src/assets/fonts/RF-Dewi-Expanded/Regular/RFDewiExpanded-Regular.eot') format('eot'),
    url('src/assets/fonts/RF-Dewi-Expanded/Regular/RFDewiExpanded-Regular.ttf') format('ttf'),
    url('src/assets/fonts/RF-Dewi-Expanded/Regular/RFDewiExpanded-Regular.woff') format('woff'),
    url('src/assets/fonts/RF-Dewi-Expanded/Regular/RFDewiExpanded-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// ------------------------------- RF Dewi Extended ------------------------------- //

@font-face {
  font-family: 'RF Dewi Extended';
  src:
    url('src/assets/fonts/RF-Dewi-Extended/Ultra-Bold/RFDewiExtended-UltraBold.eot') format('eot'),
    url('src/assets/fonts/RF-Dewi-Extended/Ultra-Bold/RFDewiExtended-UltraBold.ttf') format('ttf'),
    url('src/assets/fonts/RF-Dewi-Extended/Ultra-Bold/RFDewiExtended-UltraBold.woff') format('woff'),
    url('src/assets/fonts/RF-Dewi-Extended/Ultra-Bold/RFDewiExtended-UltraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi Extended';
  src:
    url('src/assets/fonts/RF-Dewi-Extended/Bold/RFDewiExtended-Bold.eot') format('eot'),
    url('src/assets/fonts/RF-Dewi-Extended/Bold/RFDewiExtended-Bold.ttf') format('ttf'),
    url('src/assets/fonts/RF-Dewi-Extended/Bold/RFDewiExtended-Bold.woff') format('woff'),
    url('src/assets/fonts/RF-Dewi-Extended/Bold/RFDewiExtended-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RF Dewi Extended';
  src:
    url('src/assets/fonts/Rf-Dewi-Extended/Regular/RFDewiExtended-Regular.eot') format('eot'),
    url('src/assets/fonts/Rf-Dewi-Extended/Regular/RFDewiExtended-Regular.ttf') format('ttf'),
    url('src/assets/fonts/Rf-Dewi-Extended/Regular/RFDewiExtended-Regular.woff') format('woff'),
    url('src/assets/fonts/Rf-Dewi-Extended/Regular/RFDewiExtended-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
