// Внутренние переменные проекта.

// FONT-COLORS
$color-font-main: #121214;

// COLORS
$color-c-gray :(
  'base': #303030,
  'darken-1': #20282F,
  'lighten-1': #8C8F96,
);

// Переменные перенесены из файла quasar.variables.scss(названия менять нельзя)
// Нужны для применения в файлах стилей, которые импортятся внутри
// quasar.variables.scss
$primary   : #121214;
$secondary : #F9F9F9;
$accent    : #49D0FF;

$positive  : #09B11B;
$negative  : #FF5252;
$info      : #49D0FF;
$warning   : #fbb800;

// DURATIONS
$duration-default: 300ms;
$transition-default: $duration-default ease;

// BORDER-RADIUS
$border-radius-xs: 4px;
$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-lg: 16px;
$border-radius-xl: 20px;
$border-radius-btn: 4px;

// BUTTONS
$base-button-width: 300px;
$base-button-height: 66px;
$base-button-icon-margin: 12px;

// Z-INDEX
$z-index-header: 2000 // такое значение задано по дефолту в quasar
